@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary : #E71D36;
        --primaryDarker : #ae1729;
        --secondary : #D5D5D5;
        --background : #171717;
        --Boxbackground : #212227;
    }

    * {
        @apply transition-colors duration-500 ease-in-out;
        color: var(--secondary);
    }
}

*{
    font-family: "Roboto", serif;
}